/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
}
nav {
	/* shorthand property	*/
	/*Create space between ul and nav*/
	padding: 0.8rem;
	/* This are the properties that make up property */
	/* Creates space between nav and intro */
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	/*margin vs padding*/
	/*margin is best used when creating space between elements.*/
	/*padding is best used when creating space between an element's border and it's content.*/
}
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro, #succeed-info {
	/*padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;*/
	padding: 2rem 10% 3rem;
	text-align: center;
}
.header {
	text-align: center;
}
#intro h2, #intro p {
	/*Creates space between line contents of the intro section*/
	margin-bottom: 1rem;

}
#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info h2, #succeed-info h3 {
	margin-bottom: 1rem;
}
#succeed-info .card {
	/*aligns elements with the tallest element in line*/
	/*used with the "inline-block" value*/
	/*allows for cards to have equal height that adjust with the content*/
	/*measurement is based on equally dividing the parent container's width*/
	/*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
footer {
	padding: 0.7rem;
}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	color: white;
	padding: 1rem;
	background-color: #002540;
}
#pre-footer div {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
#pre-footer > div > p {
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
}
