
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Navigation */
nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.right-nav {
  margin-left: 400px;
  display: inherit;
  align-items: center;
}

.nav {
  text-align: right;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #333;
}

.tuitt-button {
  background-color: #c2195b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

/* Landing Page */
#bg-image {
  background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.front-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.container {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}

.title {
  float:left;
  font-family: 'Zilla Slab', serif;
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
}

.apply-button {
  background-color: #c2195b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

/* Intro Section */
.intro {
  padding: 50px;
  text-align: center;
}

.title-2 {
  font-family: 'Zilla Slab', serif;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.intro-description {
  font-size: 20px;
  color: #333;
  line-height: 1.5;
}

/* Pre-footer Section */
.pre-footer {
  background-color: #f7fbfb;
  padding: 50px;
  text-align: center;
}

.prefooter-description {
  font-size: 20px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 30px;
}

.book-button {
  background-color: #336589;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px;
}
