
Solution A:
- https://stackoverflow.com/questions/13952686/how-to-make-html-input-tag-only-accept-numerical-values
- https://www.tutorialspoint.com/How-to-limit-the-number-of-characters-allowed-in-form-input-text-field

Solution A:
- The "maxlength" attribute specifies the maximum number of characters that can be entered in the input element field

Solution A:
	<input type="text" name="username" maxlength="15" />


Solution B:
- https://github.com/orgs/community/discussions/21960
- https://www.w3schools.com/tags/att_img_alt.asp#:~:text=The%20required%20alt%20attribute%20specifies,user%20uses%20a%20screen%20reader).
	
Solution B:
	- If the image cannot be displayed for any reason, the alternative text specified in the alt attribute will be displayed instead
	
Solution B:
	<img src="http://example.com/image.jpg" alt="Alternative text for the image" />


Solution C:
	-https://www.w3schools.com/tags/tag_code.asp
	-https://www.quora.com/search?q=how%20display%20code%20as%20formatted%20text%20in%20HTML.%20
	- https://stackoverflow.com/questions/18329505/html-display-formatted-text
Solution C:
	-To display code as formatted text, you can use the <code> tag in HTML. This tag will display the text in a monospace font and preserve any whitespace and line breaks.
Solution C:
<code>
function greet(name) {
  console.log('Hello, ' + name + '!');
}

greet('World');
</code>


Solution D:
- https://chat.openai.com/
- https://getbootstrap.com/docs/5.0/components/carousel/#individual-carousel-item-interval
Solution D:
- To implement a self auto-scrolling image gallery quickly and easily, you can use a CSS framework such as Bootstrap or Materialize. These frameworks provide pre-built components that you can easily customize and use in your web application.

Solution D:
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="img1.jpg" alt="Image 1">
    </div>

    <div class="item">
      <img src="img2.jpg" alt="Image 2">
    </div>

    <div class="item">
      <img src="img3.jpg" alt="Image 3">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

/* Enable auto-scrolling */
.carousel.slide {
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}
.carousel.slide .carousel-inner {
  height: 100%;
}
.carousel.slide .carousel-inner .item {
  height: 100%;
  background-color: #000;
}
.carousel.slide .carousel-inner .item img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
.carousel.slide .carousel-control.left,
.carousel.slide .carousel-control.right {
  background-image: none;
}
.carousel.slide .carousel-indicators {
  bottom: 0;
  margin: 0;
  left: 0;
  width: 100%;
  text-align: center;
  list-style: none;
}
.carousel.slide .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
 


