#external {
	color: yellow;
}

* {
	font: verdana;
	font-size: 20px;
}
h1 {
	font-size: 3rem;
}
#sub-header {
	text-transform: uppercase;
}
.text-green {
	background-color: green;
}
.border-blue[class] {
	border-width: 2px;
	border-style:solid;
	border-color: blue;
}

img + ul {

    list-style-type: none;
}
section img {
	height: 20vh;
	width: 20vh;
	border-radius: 100px;
}
ul ~ p {
	text-align: center;
}
body > section > ul > li {
	letter-spacing: 10px;
}
